@font-face {
  font-family: futura;
  src: url(../fonts/font-bt.ttf);
}
@font-face {
  font-family: futura-bold;
  src: url(../fonts/font.ttf);
}
@font-face {
  font-family: futura-heavy;
  src: url(../fonts/font-heavy.ttf);
}
html,
body,
div {
  width: 100%;
  height: 100%;
  font-family: futura;
}
html,
body {
  background: #000;
}
.shopable_logo {
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 30px;
  width: 100px;
  height: 100px;
}
.slick-slide > div {
  position: relative;
}
.tag,
.pulse-box {
  opacity: 0;
}
section {
  position: absolute;
  width: 100%;
  height: 100%;
}
#first {
  background: url("../images/backdrops/min/orange.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#first_model {
  background: url("../images/models/min/model-first-page.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#first_circle {
  position: absolute;
  top: 0;
  /* left: 200px;
  opacity: 0; */
  transition: opacity 0.5s;
  background: url("../images/circles/min/circle-first.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
#second {
  background: url("../images/backdrops/min/blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#second_model {
  background: url("../images/models/min/model-second-page.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#second_circle {
  position: absolute;
  top: 0;
  background: url("../images/circles/min/circle-second.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
#third {
  background: url("../images/backdrops/min/grey.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#third_model {
  background: url("../images/models/min/model-third-page.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#third_circle {
  position: absolute;
  top: 0;
  right: -60px;
  background: url("../images/circles/min/circle-third.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
#forth {
  background: url("../images/backdrops/min/yellow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#forth_model {
  background: url("../images/models/min/model-forth-page-copy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#forth_circle {
  position: absolute;
  top: 0;
  background: url("../images/circles/min/circle-forth.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.slick-dots {
  right: 10px !important;
  bottom: 10px !important;
  float: right !important;
  width: 150px !important;
}
.slick-dotted.slick-slider {
  margin: 0 !important;
}
.slick-dots li.slick-active button:before {
  color: #fff;
}
.slick-dots li button::before {
  font-size: 15px;
  color: #fff;
}
.tag {
  display: none;
  border: solid 1.4px #ffff;
  color: #fff;
  font-size: 1rem;
  flex-direction: column;
  position: absolute;
  min-width: 130px;
  max-width: 130px;
  width: 10vw;
  padding: 7px;
  border-radius: 12px;
}
.price {
  font-family: futura-heavy !important;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 1.2em;
}
.tag > button {
  background: #fff;
  font-weight: bolder;
  border-radius: 5px;
  color: #ed7013;
  border: none;
  font-family: futura-heavy !important;
}

.heading {
  letter-spacing: 1px;
}

.red_tag {
  color: #b1412a;
  border: solid 2px #b1412a;
}
.red_tag > button {
  background: #b1412a !important;
  color: yellow;
}

/* pulse animation */
.pulse-box {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pulse in CSS */
.pulse-white {
  background: #e4e4e4 !important;
}
.pulse-white:before,
.pulse-white:after {
  background-color: #e4e4e4 !important;
}
.pulse-css {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: #2e2e2e;
  position: relative;
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.pulse-css:before,
.pulse-css:after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 25px;
  z-index: -1000000;
  background-color: #2e2e2e;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: scale(0.5);
  transform-origin: center center;
  animation: pulse-me 1.5s linear infinite;
}
.pulse-css:after {
  animation-delay: 0.5s;
}

@keyframes pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.09;
  }
  100% {
    transform: scale(6);
    opacity: 0;
  }
}

.first_page_tag {
  /* opacity: 0; */
  transition: opacity 0s;
}

nav {
  position: absolute;
  width: 100%;
  top: 30px;
  right: 30px;
  z-index: 999;
}
nav ul {
  margin-left: 10px;
}
nav li {
  display: inline;
  color: #ffffff;
  margin: 10px 10px;
  padding: 8px;
  float: right;
  border: solid 1px #fff;
  border-radius: 360px;
  font-family: futura-heavy;
  letter-spacing: 2px;
}
nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
nav > ul > li > a:hover {
  color: #efefef;
  text-decoration: none;
}

/* PRICING */
.pricing {
  background: url("../images/backdrops/min/purple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*footer*/
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
  /* bottom: -100vh; */
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

footer {
  position: relative;
  width: 100vw;
}

svg {
  position: absolute;
  bottom: -110px;
  width: 100%;
}
.arrow {
  stroke-width: 0.3px;
  stroke: yellow;
}
.topball {
  animation: ball 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor: pointer;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #ec5f1b;
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: ##ec5f1b;
  stroke-width: 0.5;
  opacity: 0.6;
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
  filter: url(#goo);
}
#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}
#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity: 0.6;
  }
  80% {
    transform: translateY(80%);
    opacity: 0.6;
  }
  90% {
    transform: translateY(10%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}
@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
@keyframes ball {
  to {
    transform: translateY(20%);
  }
}

/* login */
.login_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10;
}
