@media (max-width: 768px) {
}
@media (max-width: 425px) {
  .shopable_logo {
    left: 20px !important;
    top: 20px !important;
    width: 75px !important;
    height: 75px !important;
  }
  .shopable_logo img {
    width: 75px !important;
  }
  #second_circle {
    display: none !important;
  }
  #third_circle {
    display: none !important;
  }
  #forth_circle {
    display: none !important;
  }
  #first_circle {
    display: none !important;
  }
  #first_mobile_circle {
    position: absolute;
    top: 360px;
    background: url("../images/circles/circle-full-first.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 130vw;
    z-index: 99999999;
  }
  #second_mobile_circle {
    position: absolute;
    top: 360px;
    background: url("../images/circles/circle-full-second.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 130vw;
    z-index: 99999999;
  }
  #third_mobile_circle {
    position: absolute;
    top: 360px;
    background: url("../images/circles/circle-full-third.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 130vw;
    z-index: 99999999;
  }
  #forth_mobile_circle {
    position: absolute;
    top: 360px;
    background: url("../images/circles/circle-full-forth.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 130vw;
    z-index: 99999999;
  }
  #first_mobile_circle {
    top: 300px;
  }
  #second_mobile_circle {
    top: 300px;
  }
  #third_mobile_circle {
    top: 300px;
  }
  #forth_mobile_circle {
    top: 300px;
  }
  .pulse-box,
  .tag {
    display: none !important;
  }
  #first_model {
    background-position: 27% 0% !important;
  }
  #second_model {
    background-position: -90px -90px !important;
  }
  #third_model {
    background-position: 15% -80px !important;
  }
  #forth_model {
    background-position: 63% 0% !important;
  }
}

@media (max-width: 375px) {
  .shopable_logo {
    display: none !important;
  }
  #first_mobile_circle {
    top: 260px;
  }
  #second_mobile_circle {
    top: 260px;
  }
  #third_mobile_circle {
    top: 260px;
  }
  #forth_mobile_circle {
    top: 260px;
  }
  .pulse-box,
  .tag {
    display: none !important;
  }
}

@media (max-width: 320px) {
  #first_mobile_circle {
    top: 220px;
  }
  #second_mobile_circle {
    top: 220px;
  }
  #third_mobile_circle {
    top: 220px;
  }
  #forth_mobile_circle {
    top: 220px;
  }
  .pulse-box,
  .tag {
    display: none !important;
  }
  nav {
    top: 0px !important;
    right: 0px !important;
  }
  nav ul {
    display: table !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }
  nav li {
    padding: 5px !important;
  }
}
