@media (max-width: 768px) {
  .first_mobile_circle {
    background: rgb(204, 47, 147);
    background: linear-gradient(
      148deg,
      rgb(187, 27, 129) 0%,
      rgb(40, 68, 144) 100%
    );
  }
  .second_mobile_circle {
    background: rgb(210, 14, 84);
    background: linear-gradient(
      148deg,
      rgba(210, 14, 84, 1) 0%,
      rgba(140, 33, 118, 1) 100%
    );
  }
  .third_mobile_circle {
    background: rgb(255, 211, 0);
    background: linear-gradient(
      148deg,
      rgba(255, 211, 0, 1) 0%,
      rgba(237, 120, 51, 1) 100%
    );
  }
  .forth_mobile_circle {
    background: rgb(228, 184, 185);
    background: linear-gradient(
      148deg,
      rgba(228, 184, 185, 1) 0%,
      rgba(60, 99, 140, 1) 100%
    );
  }
}

@media (max-width: 425px) {
  h4 {
    font-size: 1em !important;
  }
  h3 {
    font-size: 2em !important;
    margin: 0 !important;
  }
  .mobile-first-img {
    width: 200% !important;
    position: relative !important;
    left: -90px !important;
  }
  .mobile-second-img {
    width: 200% !important;
    position: relative !important;
    left: -90px !important;
  }
  .mobile-third-img {
    width: 190% !important;
    position: relative !important;
    left: -230px !important;
  }
  .mobile-forth-img {
    width: 190% !important;
    height: 100vh !important;
    position: relative !important;
    left: -10px !important;
  }
  .first_mobile_circle,
  .second_mobile_circle,
  .third_mobile_circle,
  .forth_mobile_circle {
    bottom: -200px !important;
  }
}

@media (max-width: 375px) {
  .mobile-first-img {
    width: 230% !important;
    position: relative !important;
    left: -110px !important;
  }
  .mobile-second-img {
    width: 240% !important;
    position: relative !important;
    left: -70px !important;
  }
  .mobile-forth-img {
    width: 220% !important;
    height: 100vh !important;
    position: relative !important;
    left: -10px !important;
  }
}

@media (max-width: 320px) {
  .mobile-first-img {
    width: 260% !important;
    position: relative !important;
    left: -130px !important;
  }
  .mobile-second-img {
    width: 280% !important;
    position: relative !important;
    left: -95px !important;
  }
  .mobile-third-img {
    width: 220% !important;
    position: relative !important;
    left: -240px !important;
  }
  .mobile-forth-img {
    width: 250% !important;
    height: 100vh !important;
    position: relative !important;
    left: -30px !important;
  }
}
